@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}
.hero {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}
.product_item {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.13);
}
.slick-list {
  padding-bottom: 30px !important;
}
.slick-arrow {
  height: 40px !important;
  width: 28px !important;
  color: #ddac58 !important;
}
.slider-item {
  display: inline-block;
}
.product-card-wrapper {
  display: flex;
  justify-content: center;
}
